/* ===============================================
                    Body
============================================== */

body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: auto;
}

/* ===============================================
                    Header
============================================== */

.header {
    width: 100%;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
}

.header .items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.header p {
    font-size: 24px;
    color: #F9FAF8;
}

.header a {
    text-decoration: none;
    font-size: 18px;
    color: #F9FAF8;
}

/* ===============================================
                    Section One
============================================== */

.section-one {
    width: 100%;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    color: #F9FAF8;
}

.section-one .items{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-one .text {
    width: 40%
}

.section-one h1 {
    font-size: 48px;
    font-weight: 800;
}

.section-one h1, p {
    margin: 0;
}

.section-one button {
    width: fit-content;
    height: fit-content;
    color: #F9FAF8;
    background-color: #3882F6;
}

.section-one img {
    width: 100%;
    max-width: 400px;
    height: auto;
}

/* ===============================================
                    Section Two
============================================== */

.section-two {
    flex: 1;
    display: flex;
    flex-flow: column wrap;
    width: 80%;
}

.section-two h1 {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.cards {
    display: flex;
    flex: 1;
    justify-content: space-around;
    gap: 5em;
    color: #1F2937;
}

.cards img {
    width: 100px;
    height: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    text-align: center;
}

/* ===============================================
                    Section Three
============================================== */

.section-three {
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
}

.section-three .text {
    display: flex;
    width: 80%;
    font-size: 36px;

}

.section-three .quote {
    font-family: Merriweather, serif;
    color: #1F2937;
}

.section-three .author {
    font-size: 30px;
    font-weight: 800;
}

/* ===============================================
                    Section Four
============================================== */

.section-four {
    flex: auto;
    display: flex;
    justify-content: space-between;
    width: 80%;
    color: #F9FAF8;
    background-color: #3882F6;
}

.section-four h2 {
    margin: 0;
}

.section-four button {
    width: fit-content;
    height: fit-content;
    color: #F9FAF8;
    background-color: #3882F6;
    border-color: #F9FAF8;
}

/* ===============================================
                    Footer
============================================== */

.footer {
    flex: 1;
    display: flex;
    justify-self: flex-end;
}