/* ===============================================
                    Body
============================================== */

body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ===============================================
                    Header
============================================== */

.header {
    padding: 1em;
    width: 100%;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
}

.header .items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.header p {
    font-size: 24px;
    color: #F9FAF8;
}

.header a {
    text-decoration: none;
    font-size: 18px;
    color: #F9FAF8;
    margin: 0.5em;
}

/* ===============================================
                    Section One
============================================== */

.section-one {
    padding: 4em;
    width: 100%;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    color: #F9FAF8;
}

.section-one .items{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-one .text {
    width: 40%
}

.section-one h1 {
    font-size: 48px;
    font-weight: 800;
}

.section-one h1, p {
    margin: 0;
    padding-bottom: 0.15em;
}

.section-one button {
    width: fit-content;
    height: fit-content;
    color: #F9FAF8;
    background-color: #3882F6;
    border: none;
    border-radius: 7px;
    padding: 0.5em 2em;
    margin-top: 1em;
}

.section-one img {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 15px;
}

/* ===============================================
                    Section Two
============================================== */

.section-two {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 60%;
    margin-bottom: 4em;
}

.section-two h1 {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin: 1.2em;
}

.cards {
    display: flex;
    flex: 1;
    justify-content: space-around;
    gap: 5em;
    color: #1F2937;
}

.cards img {
    width: 150px;
    height: 100px;
    border: 0.3em solid #3882F6;
    border-radius: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7em;
    text-align: center;
}

/* ===============================================
                    Section Three
============================================== */

.section-three {
    width: 100%;
    padding: 4em;
    margin-bottom: 3em;
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
}

.section-three .text {
    display: flex;
    flex-direction: column;
    width: 60%;
    font-size: 30px;
}

.section-three .quote {
    font-family: Merriweather, serif;
    color: #1F2937;
}

.section-three .author {
    font-size: 25px;
    font-weight: 800;
    align-self: flex-end;
    padding-top: 1em;
}

/* ===============================================
                    Section Four
============================================== */

.section-four {
    width: 60%;
    padding: 2em 4em;
    margin-bottom: 3em;
    color: #F9FAF8;
    background-color: #3882F6;
    border-radius: 10px;
}

.section-four .items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-four h2 {
    margin: 0;
    font-weight: 800;
}

.section-four button {
    width: fit-content;
    height: fit-content;
    color: #F9FAF8;
    background-color: #3882F6;
    border-color: #F9FAF8;
    border-radius: 7px;
    border-width: 3px;
    padding: 0.5em 2em;
}

/* ===============================================
                    Footer
============================================== */

.footer {
    width: 100%;
    padding: 1.75em;
    display: flex;
    justify-content: center;
    margin-top: auto;
    background-color: #1F2937;
    color: #F9FAF8;
}